<form action="/listings" method="post">
  <input id="listing_name" type="text" name="name" placeholder="Name">
  <input id="listing_description" type="text" name="description" placeholder="Description">
  <button id="post_listing" type="submit">Post</button>
</form> 
