<link rel="stylesheet" type="text/css" href="/stylesheets/new_listing.css">

<div id="title">
  <h2>List a space</h2>
</div>

<div class="listing-form">
  <div class="form-group">
    
  </div>
  
  <form id="new-listing" action="/listings" method="post">
    <div class="form-group">
      <label for="listing_name">Name:</label>
      <input id="listing_name" class="form-control" type="text" name="name" required>
    </div>
    <div class="form-group">
      <label for="listing_description">Description:</label>
      <input id="listing_description" class="form-control" type="text" name="description" required>
    </div>
    <div class="form-group">
      <label for="listing_price">Price: (in £)</label>
      <input id="listing_price" class="form-control" type="number" name="price" min='5' max='25000' aria-describedby="min-max-price" required>
      <small id="min-max-price" class="form-text text-muted">Price must be between £5 - £25,000</small>
    </div>

    <!-- <div class = "form-group">
      <label for="start_date0">Start date:</label>
      <input type="date" id="start_date0" name="start_date0" value="<%= Time.now.strftime("%F") %>" min="2019-12-01" max="2025-12-31">
    </div>
    <div class = "form-group">
      <label for="end_date0">End date:</label>
      <input type="date" id="end_date0" name="end_date0" value="<%= (Time.now+86400).strftime("%F") %>" min="2019-12-01" max="2025-12-31">
    </div> -->

    <label for="start_date0">Start date:</label>
    <input type="date" id="start_date0" name="start_date0" value="<%= Time.now.strftime("%F") %>" min="2019-12-01" max="2025-12-31">
    <label for="end_date0">End date:</label>
    <input type="date" id="end_date0" name="end_date0" value="<%= (Time.now+86400).strftime("%F") %>" min="2019-12-01" max="2025-12-31">

    <button type='button' id='add_availability' class='btn btn-primary' onclick='addAvailability(1)'>Add availabilty</button>

    <button id="post_listing" class="btn btn-primary" type="submit">Post</button>
 
  </form>
</div>

<script>
  function addAvailability(date_index) {
    const container = $('form');
    
    const button = $('#add_availability');
    button.remove();
    container.append('<br>');

    const post = $('#post_listing');
    post.remove();
    container.append('<br>');
    
    const start = document.createElement('input');
    start.type = 'date';
    start.id = `start_date${date_index}`;
    start.name = `start_date${date_index}`;
    start.value = $(`#end_date${date_index-1}`).val();

    container.append(`<label for='start_date${date_index}'>Start date:</label>`);
    container.append(start);

    const end = document.createElement('input');
    end.type = 'date';
    end.id = `end_date${date_index}`;
    end.name = `end_date${date_index}`;
    end.value = $(`#end_date${date_index-1}`).val();

    container.append(`<label for='end_date${date_index}'>End date:</label>`);
    container.append(end);

    container.append(`<button type='button' id='add_availability' class='btn btn-primary' onclick='addAvailability(${date_index+1})'>Add availability</button>`);
    container.append(`<button id="post_listing" class="btn btn-primary" type="submit">Post</button>`);
  }
</script>
