<form action="/listings/new" method="get">
  <button id="add_new_listing" type="submit">Add new listing</button>
</form>
<ul>
  <% @listings.each do |listing| %>
    <li><%= listing.name %> (<%= listing.price %>): <%= listing.description %>
    <form action="/listings/<%= listing.id %>" method="get">
      <button id="request_listing" type="submit">
        Request Listing
      </button>
    </form>
  </li>
  <% end %>
  
</ul>
