<form action='/login' method='post'>
  <input id='user_email' type='text' name='email' placeholder='Email'>
  <input id='user_password' type='password' name='password' placeholder='Password'>
  <button type='submit'>Log in</button>
</form>
