<h1>Requests</h1>
<h3>Requests I have made</h3>
<% @made_requests.each do |request| %>
Name of Listing: <%= request.listing.name %>
Description: <%= request.listing.description %>
Price: <%= request.listing.price %>
Status: <%= status_of(request) %>
<% end %>
